<h5>留言板</h5>
<div id="messeges">
  <ul>
   <% @messeges.each do |messege|  %>
     <li>  <%=user_tag(messege.user)%> 说: <%= messege.content %></li>
     <li><%= link_to "回复此条",root_path  %></li>
     </ br>
   <% end %>  
  </ul>
</div>
