<div id="rencent_visitors_toolbar">
  <%= render_cell :user , :recent_visitor, :user => current_user %>
</div>
<div id="recommended_user_toolbar">
  <%= render_cell :user , :recommended_users, :current_user => current_user %>
</div>

