<div id="individual_left_sidebar">
  <div class="avator">
    
  </div>
  <div class="small_columns">
    <div class="friends_move">
      <ul>
        <li>打zhaohu</li>
        <li>zhannei xin </li>
      </ul>  
    </div>

    <div class="easy_profile">
      <ul>
        <li>生日:<%= @user.birthday %></li>
        <li>zhengzai:</li>
      </ul>
    </div>
    
  </div>
  
</div>
