<div id="news_left">
   <%= render "left" %>
</div>
<div id="news_middle">
  <%= render  "news_input_box" %>
  <%=render_cell :user, :recent_news, :user => current_user %>
</div>
<div id="news_right">
  <%= render "right" %>
</div>

