<div id="topbar_logo">
     <h4>mato</h4>
</div>

<% if user_signed_in?  %>
  <%= render :partial => "shared/header_signed_in" %>
<% else %>
  <%= render :partial => "shared/header_signed_out" %>
<% end %>
