<div id="nofitications">
  <% #右上方导航，留着最后写 %>
          <li><%= link_to("站内信",root_path) %></li>
          <li><%= link_to("账号",root_path) %></li>
          <li><%= link_to("登出", destroy_user_session_path,:method => :delete) %></li>
  
</div>
