<div id="header_no_login_right">
  <ul>
    <li><%= link_to("注册",new_registration_path('user')) %></li>
    <li><%= link_to("登录",root_path) %></li>
    <li>帮助</li>
    <li>给我们提建议</li>
    <li>更多</li>
  </ul>


</div>
  
