<% content_for(:script) do %>
  <script type="text/javascript" language="javascript" charset="utf-8">
    $(function() { $('#cropbox').Jcrop({
          onChange: update_crop,
          onselect: update_crop,
          setSelect: [0,0,500,500],
          aspectRatio: 1
          });})
    function update_crop(coords) {
      $("#crop_x").val(coords.x);
      $("#crop_y").val(coords.y);
      $("#crop_w").val(coords.w);
      $("#crop_h").val(coords.h);
    }
  </script>
<% end %>
<%= image_tag @photo.image_url(:photo).to_s , :id => "cropbox"  %>
<%= form_for @user do |f| %>
  <% for item in [:crop_x,:crop_y,:crop_w,:crop_h] %>
    <%= f.text_field item , :id => item  %>
  <% end %>
  <p>
    <%= f.submit "提交" %>
  </p>
<% end %>
